* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

/*
    Login
*/

#body-login {
    width: 100vw;
    height: 100vh;
}

#login {
    background-color: rgb(48, 48, 48);
    height: 80vh;
    width: 460px;
    border-radius:8px;
}

#body-login, #login, #login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login form > *{
    margin:20px;
    padding:10px;
}

#login form label{
    margin:0;
    padding:0;
}

#login form input{
    width:100%;
    background-color:rgb(36,36,36);
}

#login form button{
    cursor:pointer;
}


body {
    background-color: rgb(24, 24, 24);
}

a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
}

nav {
    min-height: 96px;
    width: 100vw;
    flex: 1 1 100%;
    background-color: rgba(116, 34, 34, 0.048);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ol {
    width: 10%;
    flex: 0 1 25%;
    display: flex;
    justify-content: space-between;
}

nav a {
    padding: 5px;
    font-weight: 500;
}

#mote {
    height: calc(100vh - 96px);
    width: 90%;
    color: rgb(255, 255, 255);
    display: flex;
    margin: 0% 5%;
}

#mote-content, #mote-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mote-content {
    height: 100%;
    width: 60%;
}

#mote-content h1 {
    font-weight: 600;
    font-size: calc(2rem + 3vw);
}

#mote-content h2 {
    font-weight: 300;
    font-size: calc(1rem + 3vw);
}

#mote-content span {
    background-color: rgb(16, 16, 16);
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    border: 1px solid black;
}

#mote-content>* {
    width: 80%;
    padding: 10px 0px;
}

#mote-content p {
    font-family: Dogica;
    font-size: 14px;
    line-height: 2;
}

#mote-logo {
    height: 100%;
    width: 40%;
    font-size: calc(1rem + 1vw);
    color: rgb(192, 192, 192);
}

footer {
    width: 100vw;
    height: 60vh;
    background-color: rgb(55, 55, 55);
}

/*
    Fontes
*/

@font-face {
    font-family: "Dogica";
    src: url("../fonts/dogicapixel.ttf");
}