*{
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    max-width:100%;
}

body{
    background-color:rgb(24,24,24);
}


a{
    text-decoration:none;
    color:white;
}

header{
    display:flex;
    flex-direction:column;
}

nav{
    min-height:96px;
    width:100vw;
    flex: 1 1 100%;
    background-color:rgba(116, 34, 34, 0.048);
    display:flex;
    align-items:center;
    justify-content:space-around;
}

nav ol{
    width:10%;
    flex: 0 1 25%;
    display:flex;
    justify-content:space-between;
}

nav a{
    padding:5px;
    font-weight:500;
}

#mote{
    height:calc(100vh - 96px);
    width:90%;
    color:rgb(255, 255, 255);
    display:flex;
    margin:0% 5%;
}

#mote-content, #mote-logo{
    display:flex;
    flex-direction:column;
    justify-content:center;
}


#mote-content{
    height:100%;
    width:60%;
}

#mote-content h1{
    font-weight:600;
    font-size:5rem;
}


#mote-logo{
    height:100%;
    width: 40%;
    font-size:2rem;
    color:rgb(192, 192, 192);
}




footer{
    width:100vw;
    height:100vh;
    background-color:rgb(55,55,55);
}


/*
    Fontes
*/

@font-face {
    font-family: "Dogica";
    src: url("../fonts/dogicapixel.ttf");
}